/* line 15, ../scss/main.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 20, ../scss/main.scss */
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
  min-height: 100%;
  font-weight: 300;
}

/* line 30, ../scss/main.scss */
body.nonescroll {
  height: 100%;
  overflow: hidden;
}

/* line 35, ../scss/main.scss */
* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  *behavior: url(./js/htc/boxsizing.htc);
}

/* line 42, ../scss/main.scss */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 49, ../scss/main.scss */
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: none;
  display: block;
}

/* line 57, ../scss/main.scss */
h1 {
  font-family: 'Comfortaa', cursive;
}

/* line 61, ../scss/main.scss */
h1, h2, h3, p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

/* line 69, ../scss/main.scss */
.clear {
  clear: both;
}

/* line 74, ../scss/main.scss */
header, aside, nav, section, article {
  display: block;
  position: relative;
}

/* line 79, ../scss/main.scss */
a.full {
  width: 100%;
  height: 100%;
  background: url(../images/bg-a.png);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* line 89, ../scss/main.scss */
a {
  text-decoration: none;
}

/* line 93, ../scss/main.scss */
span.bolder {
  font-weight: bold;
}

/* line 97, ../scss/main.scss */
#loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 999999;
}

/* line 107, ../scss/main.scss */
* {
  /*@include transition(all 0.1s ease-out);*/
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  -webkit-transition: all 0.3s linear;
  -webkit-transition-delay: 0s;
  transition: all 0.3s linear 0s;
}

/* line 1, ../scss/_home.scss */
.wrapper {
  width: 100%;
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 8, ../scss/_home.scss */
.wrapper header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
/* line 15, ../scss/_home.scss */
.wrapper header .logo {
  width: 126px;
  float: left;
  margin-top: 38px;
}
/* line 20, ../scss/_home.scss */
.wrapper header .logo_grupo_lar {
  width: 103px;
  float: right;
  margin-top: 62px;
}
/* line 28, ../scss/_home.scss */
.wrapper section.seccion-1 {
  width: 100%;
  position: relative;
  background-image: url(../images/fondo_home.jpg);
  background-position: center;
}
/* line 34, ../scss/_home.scss */
.wrapper section.seccion-1 .container {
  height: 800px;
}
/* line 37, ../scss/_home.scss */
.wrapper section.seccion-1 .container .caja {
  width: 450px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: -1px;
}
/* line 48, ../scss/_home.scss */
.wrapper section.seccion-1 .container .caja .tall {
  font-size: 84px;
  margin-bottom: 40px;
  display: block;
  font-weight: 700;
}
/* line 55, ../scss/_home.scss */
.wrapper section.seccion-1 .container .caja .short {
  font-size: 24px;
  display: block;
}
/* line 59, ../scss/_home.scss */
.wrapper section.seccion-1 .container .caja .btn-deja-tus-datos {
  width: 208px;
}
/* line 64, ../scss/_home.scss */
.wrapper section.seccion-1 .container .burbujas_box {
  width: 100%;
  position: absolute;
  bottom: 60px;
  left: 0;
}
/* line 70, ../scss/_home.scss */
.wrapper section.seccion-1 .container .burbujas_box img.dormitorio_1 {
  float: left;
  width: auto;
}
/* line 74, ../scss/_home.scss */
.wrapper section.seccion-1 .container .burbujas_box img.dormitorio_2 {
  margin: 0 auto;
  width: auto;
}
/* line 78, ../scss/_home.scss */
.wrapper section.seccion-1 .container .burbujas_box img.dormitorio_3 {
  float: right;
  width: auto;
}
/* line 86, ../scss/_home.scss */
.wrapper section.seccion-beneficios {
  width: 100%;
  position: relative;
  background-image: url(../images/seccion-beneficios.png);
  background-position: center top;
  background-repeat: no-repeat;
  margin-top: -90px;
}
/* line 94, ../scss/_home.scss */
.wrapper section.seccion-beneficios .foto {
  width: 986px;
  position: absolute;
  top: 90px;
  right: 0;
}
/* line 101, ../scss/_home.scss */
.wrapper section.seccion-beneficios .aros {
  width: 566px;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 108, ../scss/_home.scss */
.wrapper section.seccion-beneficios .container {
  height: 950px;
}
/* line 111, ../scss/_home.scss */
.wrapper section.seccion-beneficios .container .box {
  width: 100%;
  max-width: 213px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #30b740;
}
/* line 119, ../scss/_home.scss */
.wrapper section.seccion-beneficios .container .box .titulo {
  font-size: 30px;
  line-height: 18px;
  margin-bottom: 20px;
  margin-bottom: 20px;
  line-height: 35px;
  font-weight: 700;
}
/* line 128, ../scss/_home.scss */
.wrapper section.seccion-beneficios .container .box .parrafo {
  font-size: 18px;
  margin-bottom: 25px;
}
/* line 131, ../scss/_home.scss */
.wrapper section.seccion-beneficios .container .box .parrafo .precio {
  font-size: 34px;
  font-weight: 700;
  display: block;
}
/* line 138, ../scss/_home.scss */
.wrapper section.seccion-beneficios .container .box .btn-deja-tus-datos {
  width: 208px;
}
/* line 145, ../scss/_home.scss */
.wrapper section.seccion-extra {
  width: 100%;
  position: relative;
  background: url(../images/fondo-extra.jpg) center top #ffffff;
  color: #cccccc;
  padding: 70px 20px;
}
/* line 152, ../scss/_home.scss */
.wrapper section.seccion-extra * {
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
/* line 156, ../scss/_home.scss */
.wrapper section.seccion-extra .box {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: block;
}
/* line 162, ../scss/_home.scss */
.wrapper section.seccion-extra .box ul.bxslider {
  width: 100%;
}
/* line 168, ../scss/_home.scss */
.wrapper section.seccion-extra .bx-wrapper {
  margin-bottom: 0;
}
/* line 170, ../scss/_home.scss */
.wrapper section.seccion-extra .bx-wrapper .bx-pager {
  text-align: center;
}
/* line 173, ../scss/_home.scss */
.wrapper section.seccion-extra .bx-wrapper .bx-pager .bx-pager-item a {
  font-size: 0;
  text-indent: -999999;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #666;
}
/* line 186, ../scss/_home.scss */
.wrapper section.seccion-extra .bx-wrapper .bx-pager.bx-default-pager a.active {
  background-color: #666;
  border: 1px solid #666;
}
/* line 194, ../scss/_home.scss */
.wrapper section.seccion-2 {
  width: 100%;
  position: relative;
  background-color: #30b740;
  color: #ffffff;
}
/* line 200, ../scss/_home.scss */
.wrapper section.seccion-2 .curva {
  width: 100%;
  position: absolute;
  top: -60px;
  left: 0;
}
/* line 207, ../scss/_home.scss */
.wrapper section.seccion-2 .container {
  padding-top: 90px;
  padding-bottom: 120px;
}
/* line 210, ../scss/_home.scss */
.wrapper section.seccion-2 .container .titulo {
  width: 100%;
  text-align: center;
  font-size: 43px;
  margin-bottom: 5px;
  letter-spacing: -1px;
}
/* line 217, ../scss/_home.scss */
.wrapper section.seccion-2 .container .titulo span {
  font-size: 69px;
  display: inline-block;
  font-weight: 700;
}
/* line 224, ../scss/_home.scss */
.wrapper section.seccion-2 .container .subtitulo {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: -1px;
}
/* line 231, ../scss/_home.scss */
.wrapper section.seccion-2 .container ul.lista_servicios {
  width: 100%;
  font-size: 0;
}
/* line 235, ../scss/_home.scss */
.wrapper section.seccion-2 .container ul.lista_servicios li {
  width: 50%;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
/* line 241, ../scss/_home.scss */
.wrapper section.seccion-2 .container ul.lista_servicios li .velo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
}
/* line 252, ../scss/_home.scss */
.wrapper section.seccion-2 .container ul.lista_servicios li .cont {
  position: absolute;
  top: 47px;
  left: 40px;
  text-align: center;
  z-index: 4;
}
/* line 259, ../scss/_home.scss */
.wrapper section.seccion-2 .container ul.lista_servicios li .cont .ico {
  width: 100%;
  max-width: 43px;
  margin: 0 auto 8px;
  transform: translateY(-250px);
}
/* line 266, ../scss/_home.scss */
.wrapper section.seccion-2 .container ul.lista_servicios li .cont .tit {
  width: 100%;
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: bold;
}
/* line 273, ../scss/_home.scss */
.wrapper section.seccion-2 .container ul.lista_servicios li .cont .txt {
  width: 100%;
  font-size: 11px;
}
/* line 278, ../scss/_home.scss */
.wrapper section.seccion-2 .container ul.lista_servicios li .cont .tit, .wrapper section.seccion-2 .container ul.lista_servicios li .cont .txt {
  transform: translateX(-250px);
}
/* line 285, ../scss/_home.scss */
.wrapper section.seccion-2 .container ul.lista_servicios li:hover .velo {
  opacity: 1;
}
/* line 289, ../scss/_home.scss */
.wrapper section.seccion-2 .container ul.lista_servicios li:hover > img {
  transform: scale(1.1);
}
/* line 293, ../scss/_home.scss */
.wrapper section.seccion-2 .container ul.lista_servicios li:hover .ico {
  transform: translateY(0);
}
/* line 296, ../scss/_home.scss */
.wrapper section.seccion-2 .container ul.lista_servicios li:hover .tit, .wrapper section.seccion-2 .container ul.lista_servicios li:hover .txt {
  transform: translateX(0);
}
/* line 304, ../scss/_home.scss */
.wrapper section.seccion-3 {
  width: 100%;
  height: 800px;
  position: relative;
  background-color: #1fb9ef;
  font-size: 0;
}
/* line 311, ../scss/_home.scss */
.wrapper section.seccion-3 .leftside {
  width: 50%;
  height: 800px;
  display: inline-block;
}
/* line 316, ../scss/_home.scss */
.wrapper section.seccion-3 .leftside .content {
  width: 100%;
  max-width: 500px;
  float: right;
  padding-right: 20px;
  padding-top: 90px;
}
/* line 323, ../scss/_home.scss */
.wrapper section.seccion-3 .leftside .content .titulo {
  font-size: 59px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 40px;
  letter-spacing: -1.5px;
}
/* line 331, ../scss/_home.scss */
.wrapper section.seccion-3 .leftside .content table {
  width: 100%;
  margin-bottom: 30px;
}
/* line 335, ../scss/_home.scss */
.wrapper section.seccion-3 .leftside .content table tr td {
  color: #ffffff;
  font-size: 20px;
  padding-bottom: 14px;
}
/* line 340, ../scss/_home.scss */
.wrapper section.seccion-3 .leftside .content table tr td a {
  text-decoration: none;
  color: white;
}
/* line 347, ../scss/_home.scss */
.wrapper section.seccion-3 .leftside .content table tr td:nth-child(1) {
  width: 40px;
  vertical-align: top;
}
/* line 351, ../scss/_home.scss */
.wrapper section.seccion-3 .leftside .content table tr td:nth-child(1) img {
  width: auto;
  vertical-align: top;
  margin-top: 2px;
}
/* line 360, ../scss/_home.scss */
.wrapper section.seccion-3 .leftside .content .btn {
  width: 100%;
  max-width: 398px;
  border: 1px solid #ffffff;
  padding-top: 10px;
  padding-bottom: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 24px;
}
/* line 371, ../scss/_home.scss */
.wrapper section.seccion-3 .leftside .content .btn .ico {
  width: 60px;
  height: 38px;
  display: inline-block;
  margin-right: 12px;
}
/* line 378, ../scss/_home.scss */
.wrapper section.seccion-3 .leftside .content .btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 384, ../scss/_home.scss */
.wrapper section.seccion-3 .mapa {
  width: 50%;
  height: 800px;
  display: inline-block;
  background: #e9e9e9;
  vertical-align: top;
  position: relative;
}
/* line 392, ../scss/_home.scss */
.wrapper section.seccion-3 .mapa .mapa_tiendas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/mapa_tiendas.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  behavior: url(/js/htc/backgroundsize.htc) \9;
  z-index: 999999;
  display: none;
}
/* line 407, ../scss/_home.scss */
.wrapper section.seccion-3 .mapa #ubication_map {
  width: 100%;
  height: 100%;
}
/* line 413, ../scss/_home.scss */
.wrapper section.seccion-4 {
  width: 100%;
  position: relative;
  background-color: #fff;
  font-size: 0;
}
/* line 419, ../scss/_home.scss */
.wrapper section.seccion-4 .fondo_left {
  width: 50%;
  height: 823px;
  display: inline-block;
  background-image: url(../images/fondo_parrilla.jpg);
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  behavior: url(/js/htc/backgroundsize.htc) \9;
  vertical-align: top;
  background-position: center bottom;
}
/* line 429, ../scss/_home.scss */
.wrapper section.seccion-4 .rightside {
  width: 50%;
  height: 823px;
  display: inline-block;
  background: #fff;
  vertical-align: top;
}
/* line 436, ../scss/_home.scss */
.wrapper section.seccion-4 .rightside .content {
  width: 100%;
  max-width: 500px;
  padding-left: 58px;
  padding-top: 63px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* line 445, ../scss/_home.scss */
.wrapper section.seccion-4 .rightside .content .titulo {
  font-size: 40px;
  color: #30b740;
  font-weight: bold;
  margin-bottom: 40px;
  letter-spacing: -1.5px;
  margin-bottom: 30px;
}
/* line 453, ../scss/_home.scss */
.wrapper section.seccion-4 .rightside .content .titulo span {
  font-size: 49px;
}
/* line 458, ../scss/_home.scss */
.wrapper section.seccion-4 .rightside .content .texto {
  font-size: 18px;
  color: #000000;
  margin-bottom: 40px;
}
/* line 464, ../scss/_home.scss */
.wrapper section.seccion-4 .rightside .content .formulario {
  width: 100%;
}
/* line 467, ../scss/_home.scss */
.wrapper section.seccion-4 .rightside .content .formulario .campo {
  margin-bottom: 7px;
  font-size: 0;
  position: relative;
}
/* line 472, ../scss/_home.scss */
.wrapper section.seccion-4 .rightside .content .formulario .campo .txt {
  width: 22%;
  font-size: 16px;
  color: #000;
  display: inline-block;
  padding-top: 10px;
}
/* line 480, ../scss/_home.scss */
.wrapper section.seccion-4 .rightside .content .formulario .campo input {
  width: 78%;
  background-color: #fff;
  height: 41px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  display: inline-block;
  padding: 7px;
  font-size: 15px;
}
/* line 491, ../scss/_home.scss */
.wrapper section.seccion-4 .rightside .content .formulario .campo .nube {
  width: 193px;
  font-size: 10px;
  color: #ffffff;
  padding: 15px 60px 15px 15px;
  background-color: #1fb9ef;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(12px, -50%);
  z-index: 5;
}
/* line 504, ../scss/_home.scss */
.wrapper section.seccion-4 .rightside .content .formulario .campo .nube .esquina {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #1fb8ef transparent transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 100%;
}
/* line 516, ../scss/_home.scss */
.wrapper section.seccion-4 .rightside .content .formulario .campo .nube .ico {
  width: 43px;
  position: absolute;
  top: 18px;
  right: 14px;
}
/* line 527, ../scss/_home.scss */
.wrapper section.seccion-4 .rightside .content .formulario .campo.campo2 {
  padding-top: 25px;
  margin-bottom: 20px;
}
/* line 531, ../scss/_home.scss */
.wrapper section.seccion-4 .rightside .content .formulario .campo.campo2 .txt {
  width: 50%;
  padding-right: 10px;
  vertical-align: top;
  padding-top: 0;
}
/* line 538, ../scss/_home.scss */
.wrapper section.seccion-4 .rightside .content .formulario .campo.campo2 .campo_select {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
/* line 543, ../scss/_home.scss */
.wrapper section.seccion-4 .rightside .content .formulario .campo.campo2 .campo_select select {
  width: 100%;
}
/* line 547, ../scss/_home.scss */
.wrapper section.seccion-4 .rightside .content .formulario .campo.campo2 .campo_select .jqTransformSelectWrapper {
  width: 100% !important;
  height: 41px;
  font-family: 'Comfortaa', cursive !important;
  color: #727375;
  margin-bottom: 12px;
}
/* line 554, ../scss/_home.scss */
.wrapper section.seccion-4 .rightside .content .formulario .campo.campo2 .campo_select .jqTransformSelectWrapper span {
  height: 41px;
  padding-top: 13px;
  color: #727375;
  padding-left: 8px;
  left: 0;
  text-align: left;
}
/* line 563, ../scss/_home.scss */
.wrapper section.seccion-4 .rightside .content .formulario .campo.campo2 .campo_select .jqTransformSelectWrapper a.jqTransformSelectOpen {
  height: 41px;
  width: 32px;
}
/* line 567, ../scss/_home.scss */
.wrapper section.seccion-4 .rightside .content .formulario .campo.campo2 .campo_select .jqTransformSelectWrapper ul {
  top: 41px;
  height: 117px;
  z-index: 111111;
}
/* line 572, ../scss/_home.scss */
.wrapper section.seccion-4 .rightside .content .formulario .campo.campo2 .campo_select .jqTransformSelectWrapper ul a {
  padding: 6px 8px;
  color: #727375;
  text-align: left;
}
/* line 577, ../scss/_home.scss */
.wrapper section.seccion-4 .rightside .content .formulario .campo.campo2 .campo_select .jqTransformSelectWrapper ul a:hover {
  background-color: #30b740;
  color: #ffffff;
}
/* line 587, ../scss/_home.scss */
.wrapper section.seccion-4 .rightside .content .formulario .campo_check {
  margin-bottom: 40px;
}
/* line 590, ../scss/_home.scss */
.wrapper section.seccion-4 .rightside .content .formulario .campo_check span.jqTransformCheckboxWrapper {
  margin-top: 0;
}
/* line 593, ../scss/_home.scss */
.wrapper section.seccion-4 .rightside .content .formulario .campo_check * {
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
/* line 597, ../scss/_home.scss */
.wrapper section.seccion-4 .rightside .content .formulario .campo_check a.acepto, .wrapper section.seccion-4 .rightside .content .formulario .campo_check span {
  display: inline-block;
  color: #b3cf44;
  font-size: 16px;
  padding-top: 5px;
  text-decoration: underline;
}
/* line 606, ../scss/_home.scss */
.wrapper section.seccion-4 .rightside .content .formulario .btn_enviar {
  width: 96%;
  max-width: 204px;
  margin: 0 auto;
  background-color: #b3cf44;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding-top: 11px;
  padding-bottom: 10px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
}
/* line 621, ../scss/_home.scss */
.wrapper section.seccion-4 .rightside .content .formulario .btn_enviar:hover {
  background-color: #8ba523;
}
/* line 629, ../scss/_home.scss */
.wrapper section.seccion-5 {
  width: 100%;
  height: 800px;
  position: relative;
  background-color: #30b740;
  background-image: url(../images/fondo_final.jpg);
}
/* line 637, ../scss/_home.scss */
.wrapper section.seccion-5 .gota {
  width: 80%;
  max-width: 502px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 648, ../scss/_home.scss */
.wrapper footer {
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  background-color: #383838;
}
/* line 656, ../scss/_home.scss */
.wrapper footer .container .logo_grupo_lar {
  width: 126px;
  float: left;
  margin: 35px 20px 0 0;
}
/* line 661, ../scss/_home.scss */
.wrapper footer .container .detalle {
  width: 390px;
  color: #ffffff;
  font-size: 16px;
  float: left;
  margin: 35px 20px 0 0;
}
/* line 668, ../scss/_home.scss */
.wrapper footer .container .detalle span {
  font-size: 12px;
}
/* line 673, ../scss/_home.scss */
.wrapper footer .container .logo_asei {
  width: 95px;
  float: left;
  margin: 47px 0 0 0;
}
/* line 679, ../scss/_home.scss */
.wrapper footer .container .telefono {
  width: 263px;
  float: right;
  margin: 65px 0 0 0;
}
/* line 685, ../scss/_home.scss */
.wrapper footer .container .clear {
  display: none;
}

/* line 694, ../scss/_home.scss */
img.imagen_layer_home {
  width: 436px;
  height: auto;
  cursor: pointer;
}

/* line 700, ../scss/_home.scss */
.fancybox-wrap .fancybox-close {
  /*right: -31px;*/
  right: -8px;
  top: -29px;
  background-image: url(../js/source/home_close.png);
}

/* line 707, ../scss/_home.scss */
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

/* line 715, ../scss/_home.scss */
.wrapper_gracias {
  display: block !important;
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 720, ../scss/_home.scss */
.wrapper_gracias .gracias {
  width: 100%;
  max-width: 344px;
  color: #000000;
  font-size: 16px;
  text-align: center;
  padding-top: 50px;
  margin: 0 auto 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 735, ../scss/_home.scss */
.wrapper_gracias .gracias .btn_gracias > img {
  width: 162px;
  margin: 0 auto 10px;
}
/* line 740, ../scss/_home.scss */
.wrapper_gracias .gracias .btn_gracias .texto {
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 19px;
}
/* line 746, ../scss/_home.scss */
.wrapper_gracias .gracias .btn_gracias .regresar {
  width: 120px;
  margin: 0 auto 0;
  color: #808080;
  text-transform: uppercase;
  font-size: 11px;
  position: relative;
}
/* line 753, ../scss/_home.scss */
.wrapper_gracias .gracias .btn_gracias .regresar .ico {
  width: 19px;
  height: 8px;
  display: inline-block;
  margin-right: 10px;
}

/* line 767, ../scss/_home.scss */
.layer_servicios .imagen {
  position: relative;
}
/* line 770, ../scss/_home.scss */
.layer_servicios .imagen .barra {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 15px 15px 73px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
}
/* line 779, ../scss/_home.scss */
.layer_servicios .imagen .barra .ico {
  width: 40px;
  position: absolute;
  top: 10px;
  left: 15px;
}
/* line 786, ../scss/_home.scss */
.layer_servicios .imagen .barra .tit {
  width: 100%;
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #ffffff;
}
/* line 794, ../scss/_home.scss */
.layer_servicios .imagen .barra .txt {
  width: 100%;
  font-size: 11px;
  color: #ffffff;
}

@media (max-width: 1420px) {
  /* line 808, ../scss/_home.scss */
  .wrapper section.seccion-beneficios .foto {
    width: 800px;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (max-width: 1280px) {
  /* line 819, ../scss/_home.scss */
  .wrapper section.seccion-4 .rightside .content .formulario .campo .nube {
    right: -50px;
    left: auto;
    transform: translate(0, -50%);
  }

  /* line 825, ../scss/_home.scss */
  .wrapper section.seccion-4 .fondo_left, .wrapper section.seccion-4 .rightside {
    height: 750px;
  }
}
@media (max-width: 1100px) {
  /* line 832, ../scss/_home.scss */
  .wrapper section.seccion-4 .rightside .content .formulario .campo .nube {
    right: -20px;
    left: auto;
    transform: translate(0, -50%);
  }
  /* line 839, ../scss/_home.scss */
  .wrapper section.seccion-beneficios .foto {
    width: 700px;
  }
}
@media (max-width: 1000px) {
  /* line 849, ../scss/_home.scss */
  .wrapper .content {
    padding-top: 40px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    max-width: 100% !important;
    padding-bottom: 30px;
  }
  /* line 859, ../scss/_home.scss */
  .wrapper section.seccion-1 .container .burbujas_box {
    padding-left: 20px;
    padding-right: 20px;
  }
  /* line 862, ../scss/_home.scss */
  .wrapper section.seccion-1 .container .burbujas_box img.dormitorio_1 {
    width: 150px;
  }
  /* line 865, ../scss/_home.scss */
  .wrapper section.seccion-1 .container .burbujas_box img.dormitorio_2 {
    width: 150px;
  }
  /* line 868, ../scss/_home.scss */
  .wrapper section.seccion-1 .container .burbujas_box img.dormitorio_3 {
    width: 150px;
  }
  /* line 876, ../scss/_home.scss */
  .wrapper section.seccion-beneficios .foto {
    width: 560px;
  }
  /* line 880, ../scss/_home.scss */
  .wrapper section.seccion-beneficios .aros {
    display: none;
  }
  /* line 888, ../scss/_home.scss */
  .wrapper section.seccion-2 .container {
    padding-bottom: 20px;
  }
  /* line 891, ../scss/_home.scss */
  .wrapper section.seccion-2 .container ul.lista_servicios li {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: block;
  }
  /* line 901, ../scss/_home.scss */
  .wrapper section.seccion-3 {
    height: auto;
  }
  /* line 903, ../scss/_home.scss */
  .wrapper section.seccion-3 .leftside {
    height: auto;
    width: 100%;
    position: relative;
  }
  /* line 909, ../scss/_home.scss */
  .wrapper section.seccion-3 .leftside .content .titulo {
    font-size: 30px;
  }
  /* line 912, ../scss/_home.scss */
  .wrapper section.seccion-3 .leftside .content .btn {
    margin: 0 auto;
    display: block;
    font-size: 18px;
    padding-top: 14px;
    padding-bottom: 25px;
  }
  /* line 919, ../scss/_home.scss */
  .wrapper section.seccion-3 .leftside .content .btn .ico {
    height: 33px;
  }
  /* line 925, ../scss/_home.scss */
  .wrapper section.seccion-3 .mapa {
    width: 100%;
    height: 400px;
    position: relative;
  }
  /* line 933, ../scss/_home.scss */
  .wrapper section.seccion-4 .fondo_left {
    display: none;
  }
  /* line 937, ../scss/_home.scss */
  .wrapper section.seccion-4 .rightside {
    width: 100%;
    height: auto;
  }
  /* line 941, ../scss/_home.scss */
  .wrapper section.seccion-4 .rightside .content {
    top: auto;
    transform: translateY(0);
  }
  /* line 950, ../scss/_home.scss */
  .wrapper footer {
    height: auto;
  }
  /* line 952, ../scss/_home.scss */
  .wrapper footer .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /* line 955, ../scss/_home.scss */
  .wrapper footer .container .detalle {
    float: right;
  }
  /* line 958, ../scss/_home.scss */
  .wrapper footer .container .clear {
    display: block;
  }
}
@media (max-width: 768px) {
  /* line 970, ../scss/_home.scss */
  .wrapper header .logo {
    width: 90px;
    margin-top: 20px;
  }
  /* line 975, ../scss/_home.scss */
  .wrapper header .logo_grupo_lar {
    margin-top: 20px;
  }
  /* line 980, ../scss/_home.scss */
  .wrapper section.seccion-1 {
    background: url(../images/home_tablet.jpg) center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    behavior: url(/js/htc/backgroundsize.htc) \9;
  }
  /* line 985, ../scss/_home.scss */
  .wrapper section.seccion-1 .container {
    height: 700px;
    padding-left: 20px;
    padding-right: 20px;
  }
  /* line 990, ../scss/_home.scss */
  .wrapper section.seccion-1 .container * {
    text-shadow: 0px 0px 21px black;
  }
  /* line 993, ../scss/_home.scss */
  .wrapper section.seccion-1 .container .caja {
    width: 96%;
    max-width: 400px;
    font-size: 23px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  /* line 1003, ../scss/_home.scss */
  .wrapper section.seccion-1 .container .caja .tall {
    font-size: 49px;
  }
  /* line 1007, ../scss/_home.scss */
  .wrapper section.seccion-1 .container .caja .btn-deja-tus-datos {
    margin: 0 auto;
    width: 150px;
  }
  /* line 1017, ../scss/_home.scss */
  .wrapper section.seccion-beneficios .foto {
    display: none;
  }
  /* line 1021, ../scss/_home.scss */
  .wrapper section.seccion-beneficios .container {
    height: auto;
    padding-top: 140px;
    padding-bottom: 90px;
  }
  /* line 1025, ../scss/_home.scss */
  .wrapper section.seccion-beneficios .container .box {
    top: auto;
    transform: translateY(0);
    width: 100%;
    position: relative;
    text-align: center;
    max-width: 100%;
  }
  /* line 1033, ../scss/_home.scss */
  .wrapper section.seccion-beneficios .container .box .btn-deja-tus-datos {
    margin: 0 auto;
    display: block;
  }

  /* line 1045, ../scss/_home.scss */
  .layer_servicios .imagen .barra {
    display: none;
  }
}
@media (max-width: 600px) {
  /* line 1055, ../scss/_home.scss */
  .wrapper footer .container .logo_grupo_lar {
    float: none;
    margin: 0 auto 20px;
  }
  /* line 1059, ../scss/_home.scss */
  .wrapper footer .container .detalle {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  /* line 1066, ../scss/_home.scss */
  .wrapper footer .container .logo_asei {
    float: none;
    margin: 0 auto 20px;
  }
  /* line 1070, ../scss/_home.scss */
  .wrapper footer .container .telefono {
    float: none;
    margin: 0 auto 20px;
  }
}
@media (max-width: 500px) {
  /* line 1082, ../scss/_home.scss */
  .wrapper section.seccion-1 .container .burbujas_box {
    padding-left: 20px;
    padding-right: 20px;
  }
  /* line 1085, ../scss/_home.scss */
  .wrapper section.seccion-1 .container .burbujas_box img.dormitorio_1 {
    float: none;
    margin: 0 auto;
  }
  /* line 1089, ../scss/_home.scss */
  .wrapper section.seccion-1 .container .burbujas_box img.dormitorio_2 {
    width: 150px;
    float: left;
  }
  /* line 1093, ../scss/_home.scss */
  .wrapper section.seccion-1 .container .burbujas_box img.dormitorio_3 {
    width: 150px;
  }
  /* line 1101, ../scss/_home.scss */
  .wrapper section.seccion-2 .container {
    padding-top: 20px;
  }
  /* line 1103, ../scss/_home.scss */
  .wrapper section.seccion-2 .container .titulo {
    font-size: 25px;
  }
  /* line 1105, ../scss/_home.scss */
  .wrapper section.seccion-2 .container .titulo span {
    font-size: 25px;
  }
  /* line 1113, ../scss/_home.scss */
  .wrapper section.seccion-3 .leftside .content .titulo {
    font-size: 25px;
  }
  /* line 1116, ../scss/_home.scss */
  .wrapper section.seccion-3 .leftside .content table tr td {
    font-size: 14px;
  }
  /* line 1125, ../scss/_home.scss */
  .wrapper section.seccion-4 .rightside .content .titulo {
    font-size: 25px;
  }
  /* line 1127, ../scss/_home.scss */
  .wrapper section.seccion-4 .rightside .content .titulo span {
    font-size: 25px;
  }
  /* line 1133, ../scss/_home.scss */
  .wrapper section.seccion-4 .rightside .content .formulario .campo .txt {
    width: 100%;
    padding-bottom: 7px;
  }
  /* line 1137, ../scss/_home.scss */
  .wrapper section.seccion-4 .rightside .content .formulario .campo input {
    width: 100%;
  }
  /* line 1141, ../scss/_home.scss */
  .wrapper section.seccion-4 .rightside .content .formulario .campo .nube {
    width: 100%;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    transform: translate(0, 0);
    margin-top: 10px;
  }
  /* line 1150, ../scss/_home.scss */
  .wrapper section.seccion-4 .rightside .content .formulario .campo .nube .ico {
    width: 20px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  /* line 1157, ../scss/_home.scss */
  .wrapper section.seccion-4 .rightside .content .formulario .campo .nube .esquina {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #1fb8ef transparent;
    left: 20px;
    top: -5px;
  }
  /* line 1172, ../scss/_home.scss */
  .wrapper section.seccion-4 .rightside .content .formulario .campo.campo2 {
    padding-top: 15px;
  }
  /* line 1174, ../scss/_home.scss */
  .wrapper section.seccion-4 .rightside .content .formulario .campo.campo2 .txt {
    width: 100%;
  }
  /* line 1177, ../scss/_home.scss */
  .wrapper section.seccion-4 .rightside .content .formulario .campo.campo2 .txt br {
    display: none;
  }
  /* line 1182, ../scss/_home.scss */
  .wrapper section.seccion-4 .rightside .content .formulario .campo.campo2 .campo_select {
    width: 100%;
  }
}
@media (max-width: 436px) {
  /* line 1194, ../scss/_home.scss */
  img.imagen_layer_home {
    width: 100%;
    max-width: 436px;
    height: auto;
  }
}
@media (max-width: 420px) {
  /* line 1205, ../scss/_home.scss */
  .wrapper header .logo {
    width: 58px;
  }
  /* line 1209, ../scss/_home.scss */
  .wrapper header .logo_grupo_lar {
    width: 80px;
  }
  /* line 1213, ../scss/_home.scss */
  .wrapper section.seccion-1 {
    background: url(../images/home_mobile.jpg) center bottom;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    behavior: url(/js/htc/backgroundsize.htc) \9;
  }
  /* line 1218, ../scss/_home.scss */
  .wrapper section.seccion-1 .container {
    height: auto;
    padding-top: 120px;
  }
  /* line 1222, ../scss/_home.scss */
  .wrapper section.seccion-1 .container .caja {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    left: auto;
    top: auto;
    transform: translate(0, 0);
    position: relative;
    margin-bottom: 20px;
  }
  /* line 1231, ../scss/_home.scss */
  .wrapper section.seccion-1 .container .caja .tall {
    font-size: 32px;
  }
  /* line 1235, ../scss/_home.scss */
  .wrapper section.seccion-1 .container .caja .short {
    font-size: 18px;
  }
  /* line 1240, ../scss/_home.scss */
  .wrapper section.seccion-1 .container .burbujas_box {
    position: relative;
    bottom: auto;
    margin-bottom: 40px;
  }
  /* line 1245, ../scss/_home.scss */
  .wrapper section.seccion-1 .container .burbujas_box img.dormitorio_1 {
    width: 110px;
  }
  /* line 1248, ../scss/_home.scss */
  .wrapper section.seccion-1 .container .burbujas_box img.dormitorio_2 {
    width: 110px;
  }
  /* line 1251, ../scss/_home.scss */
  .wrapper section.seccion-1 .container .burbujas_box img.dormitorio_3 {
    width: 110px;
  }
  /* line 1258, ../scss/_home.scss */
  .wrapper section.seccion-2 .curva {
    top: auto;
    bottom: 100%;
  }
  /* line 1265, ../scss/_home.scss */
  .wrapper section.seccion-2 .container ul.lista_servicios li .cont {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  /* line 1269, ../scss/_home.scss */
  .wrapper section.seccion-2 .container ul.lista_servicios li .cont .velo {
    opacity: 0.5;
  }
  /* line 1275, ../scss/_home.scss */
  .wrapper section.seccion-2 .container ul.lista_servicios li .cont .ico {
    transform: translateY(0);
  }
  /* line 1278, ../scss/_home.scss */
  .wrapper section.seccion-2 .container ul.lista_servicios li .cont .tit, .wrapper section.seccion-2 .container ul.lista_servicios li .cont .txt {
    transform: translateX(0);
  }
  /* line 1287, ../scss/_home.scss */
  .wrapper footer {
    height: auto;
  }
  /* line 1289, ../scss/_home.scss */
  .wrapper footer .container {
    padding-bottom: 20px;
  }
  /* line 1291, ../scss/_home.scss */
  .wrapper footer .container .logo_grupo_lar {
    width: 80px;
    margin-top: 20px;
  }
  /* line 1296, ../scss/_home.scss */
  .wrapper footer .container .logo_asei {
    width: 60px;
    margin-top: 20px;
  }
  /* line 1301, ../scss/_home.scss */
  .wrapper footer .container .telefono {
    width: 120px;
  }
}
/* line 1, ../scss/_jqtransform.scss */
form.jqtransformdone label {
  margin-top: 4px;
  margin-right: 8px;
  display: block;
  float: left;
}

/* line 7, ../scss/_jqtransform.scss */
form.jqtransformdone div.rowElem {
  clear: both;
  padding: 4px 0px;
}

/* -------------
 * Buttons
 * ------------- */
/* line 14, ../scss/_jqtransform.scss */
button.jqTransformButton {
  margin: 0px;
  padding: 0px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  overflow: visible;
  font-family: Arial;
}

/* line 24, ../scss/_jqtransform.scss */
*:first-child + html button.jqTransformButton[type] {
  width: 1;
}

/* IE7 */
/* line 26, ../scss/_jqtransform.scss */
button.jqTransformButton span {
  background: transparent url(../images/jqtransformplugin/btn_right.gif) no-repeat right top;
  display: block;
  float: left;
  padding: 0px 4px 0px 0px;
  /* sliding doors padding */
  margin: 0px;
  height: 33px;
}

/* line 35, ../scss/_jqtransform.scss */
button.jqTransformButton span span {
  background: transparent url(../images/jqtransformplugin/btn_left.gif) no-repeat top left;
  color: #333;
  padding: 8px 4px 0px 8px;
  font-weight: normal;
  font-size: 12px;
  line-height: 13px;
  display: block;
  text-decoration: none;
  height: 33px;
}

/*hover*/
/* line 48, ../scss/_jqtransform.scss */
button.jqTransformButton_hover span span {
  background-position: left -33px;
}

/* line 49, ../scss/_jqtransform.scss */
button.jqTransformButton_hover span {
  background-position: right -33px;
}

/*clicked*/
/* line 52, ../scss/_jqtransform.scss */
button.jqTransformButton_click span span {
  background-position: left -66px;
}

/* line 53, ../scss/_jqtransform.scss */
button.jqTransformButton_click span {
  background-position: right -66px;
}

/* IE 6 */
/* line 56, ../scss/_jqtransform.scss */
* html button.jqTransformButton {
  height: 33px;
}

/* line 57, ../scss/_jqtransform.scss */
* button.jqTransformButton span span {
  height: 25px;
}

/* IE 7 */
/* line 59, ../scss/_jqtransform.scss */
* + html button.jqTransformButton {
  height: 33px;
}

/* line 60, ../scss/_jqtransform.scss */
* + button.jqTransformButton span span {
  height: 25px;
}

/* -------------
 * Inputs
 * ------------- */
/* line 66, ../scss/_jqtransform.scss */
.jqTransformInputWrapper {
  background: transparent url(../images/jqtransformplugin/input_text_left.gif) no-repeat left top;
  height: 32px;
  padding: 0px;
  float: left;
  margin-bottom: 8px;
  border-radius: 5px;
}

/* line 75, ../scss/_jqtransform.scss */
.jqTransformInputInner {
  background: transparent url(../images/jqtransformplugin/input_text_right.gif) no-repeat top right;
  padding: 0px;
  margin: 0px;
}

/* line 81, ../scss/_jqtransform.scss */
.jqTransformInputInner div {
  height: 32px;
  margin: 0px 0px 0px 8px;
}

/* line 86, ../scss/_jqtransform.scss */
.jqTransformInputInner div input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  vertical-align: middle;
  height: 32px;
  color: #494643;
  border: none;
  padding: 0 0px 0px 0px;
  margin: 0px;
  background: transparent;
}

/*  IE6 */
/* line 100, ../scss/_jqtransform.scss */
* html .jqTransformInputInner div input {
  padding: 6px 0 0 0;
  margin: 0 0 0 -8px;
  height: 24px;
}

/* Ie7 */
/* line 106, ../scss/_jqtransform.scss */
* + html .jqTransformInputInner div input {
  padding: 6px 0 0 0;
  margin-left: -10px;
  height: 24px;
}

/*hover*/
/* line 113, ../scss/_jqtransform.scss */
.jqTransformInputWrapper_hover {
  background-position: left -32px;
}

/* line 114, ../scss/_jqtransform.scss */
.jqTransformInputWrapper_hover div.jqTransformInputInner {
  background-position: right -32px;
}

/*focus*/
/* line 117, ../scss/_jqtransform.scss */
.jqTransformInputWrapper_focus {
  background-position: left -64px;
}

/* line 118, ../scss/_jqtransform.scss */
.jqTransformInputWrapper_focus div.jqTransformInputInner {
  background-position: right -64px;
}

/* line 122, ../scss/_jqtransform.scss */
.jqTransformSafari .jqTransformInputInner div {
  position: relative;
  overflow: hidden;
  margin: 0px 8px;
}

/* line 127, ../scss/_jqtransform.scss */
.jqTransformSafari .jqTransformInputInner div input {
  background-color: none;
  position: absolute;
  top: -10px;
  left: -2px;
  height: 42px;
  padding-left: 4px;
}

/* -------------
 * Textarea
 * ------------- */
/* line 141, ../scss/_jqtransform.scss */
table.jqTransformTextarea td#jqTransformTextarea-mm textarea {
  font-size: 12px;
  line-height: 16px;
}

/* line 146, ../scss/_jqtransform.scss */
table.jqTransformTextarea td {
  font-size: 1px;
  line-height: 1px;
  width: 5px;
  height: 5px;
  margin: 0;
  padding: 0;
}

/* line 155, ../scss/_jqtransform.scss */
table.jqTransformTextarea tr {
  /*border: 1px solid red;*/
}

/* line 159, ../scss/_jqtransform.scss */
table.jqTransformTextarea textarea {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}

/* line 165, ../scss/_jqtransform.scss */
table.jqTransformTextarea td#jqTransformTextarea-tl {
  background: url(../images/jqtransformplugin/textarea/textarea_tl.gif) no-repeat top left;
}

/* line 166, ../scss/_jqtransform.scss */
table.jqTransformTextarea td#jqTransformTextarea-tm {
  background: url(../images/jqtransformplugin/textarea/textarea_tm.gif) repeat-x top left;
}

/* line 167, ../scss/_jqtransform.scss */
table.jqTransformTextarea td#jqTransformTextarea-tr {
  background: url(../images/jqtransformplugin/textarea/textarea_tr.gif) no-repeat top left;
}

/* line 169, ../scss/_jqtransform.scss */
table.jqTransformTextarea td#jqTransformTextarea-ml {
  background: url(../images/jqtransformplugin/textarea/textarea_ml.gif) repeat-y top left;
}

/* line 170, ../scss/_jqtransform.scss */
table.jqTransformTextarea td#jqTransformTextarea-mm {
  background: url(../images/jqtransformplugin/textarea/textarea-mm.gif) repeat;
}

/* line 171, ../scss/_jqtransform.scss */
table.jqTransformTextarea td#jqTransformTextarea-mr {
  background: url(../images/jqtransformplugin/textarea/textarea_mr.gif) repeat-y top left;
}

/* line 173, ../scss/_jqtransform.scss */
table.jqTransformTextarea td#jqTransformTextarea-bl {
  background: url(../images/jqtransformplugin/textarea/textarea_bl.gif) no-repeat top left;
}

/* line 174, ../scss/_jqtransform.scss */
table.jqTransformTextarea td#jqTransformTextarea-bm {
  background: url(../images/jqtransformplugin/textarea/textarea_bm.gif) repeat-x top left;
}

/* line 175, ../scss/_jqtransform.scss */
table.jqTransformTextarea td#jqTransformTextarea-br {
  background: url(../images/jqtransformplugin/textarea/textarea_br.gif) no-repeat top left;
}

/*hover*/
/* line 178, ../scss/_jqtransform.scss */
table.jqTransformTextarea-hover td#jqTransformTextarea-tl {
  background-position: 0px -5px;
}

/* line 179, ../scss/_jqtransform.scss */
table.jqTransformTextarea-hover td#jqTransformTextarea-tm {
  background-position: 0px -5px;
}

/* line 180, ../scss/_jqtransform.scss */
table.jqTransformTextarea-hover td#jqTransformTextarea-tr {
  background-position: 0px -5px;
}

/* line 181, ../scss/_jqtransform.scss */
table.jqTransformTextarea-hover td#jqTransformTextarea-ml {
  background-position: -5px 0px;
}

/* line 182, ../scss/_jqtransform.scss */
table.jqTransformTextarea-hover td#jqTransformTextarea-mm {
  background-image: url(../images/jqtransformplugin/textarea/textarea-mm-hover.gif);
}

/* line 183, ../scss/_jqtransform.scss */
table.jqTransformTextarea-hover td#jqTransformTextarea-mr {
  background-position: -5px 0px;
}

/* line 184, ../scss/_jqtransform.scss */
table.jqTransformTextarea-hover td#jqTransformTextarea-bl {
  background-position: 0px -5px;
}

/* line 185, ../scss/_jqtransform.scss */
table.jqTransformTextarea-hover td#jqTransformTextarea-bm {
  background-position: 0px -5px;
}

/* line 186, ../scss/_jqtransform.scss */
table.jqTransformTextarea-hover td#jqTransformTextarea-br {
  background-position: 0px -5px;
}

/*focus*/
/* line 189, ../scss/_jqtransform.scss */
table.jqTransformTextarea-focus td#jqTransformTextarea-tl {
  background-position: 0px -10px;
}

/* line 190, ../scss/_jqtransform.scss */
table.jqTransformTextarea-focus td#jqTransformTextarea-tm {
  background-position: 0px -10px;
}

/* line 191, ../scss/_jqtransform.scss */
table.jqTransformTextarea-focus td#jqTransformTextarea-tr {
  background-position: 0px -10px;
}

/* line 192, ../scss/_jqtransform.scss */
table.jqTransformTextarea-focus td#jqTransformTextarea-ml {
  background-position: -10px 0px;
}

/* line 193, ../scss/_jqtransform.scss */
table.jqTransformTextarea-focus td#jqTransformTextarea-mm {
  background-image: url(../images/jqtransformplugin/textarea/textarea-mm-focus.gif);
}

/* line 194, ../scss/_jqtransform.scss */
table.jqTransformTextarea-focus td#jqTransformTextarea-mr {
  background-position: -10px 0px;
}

/* line 195, ../scss/_jqtransform.scss */
table.jqTransformTextarea-focus td#jqTransformTextarea-bl {
  background-position: 0px -10px;
}

/* line 196, ../scss/_jqtransform.scss */
table.jqTransformTextarea-focus td#jqTransformTextarea-bm {
  background-position: 0px -10px;
}

/* line 197, ../scss/_jqtransform.scss */
table.jqTransformTextarea-focus td#jqTransformTextarea-br {
  background-position: 0px -10px;
}

/* line 200, ../scss/_jqtransform.scss */
table.jqTransformTextarea .jqTransformSafariTextarea div {
  position: relative;
  overflow: hidden;
  border: 0px solid red;
}

/* line 205, ../scss/_jqtransform.scss */
table.jqTransformTextarea .jqTransformSafariTextarea textarea {
  background: none;
  position: absolute;
  top: -10px;
  left: -10px;
  padding: 10px 10px 10px 10px;
  resize: none;
}

/* -------------
 * Radios
 * ------------- */
/* line 218, ../scss/_jqtransform.scss */
.jqTransformRadioWrapper {
  float: left;
  display: block;
  margin-left: 0px;
  margin-right: 5px;
  margin-top: 0px;
}

/* line 219, ../scss/_jqtransform.scss */
.jqTransformRadio {
  background: transparent url(../images/jqtransformplugin/radio.gif) no-repeat center top;
  vertical-align: middle;
  height: 19px;
  width: 18px;
  display: block;
  /*display: -moz-inline-block;*/
}

/* -------------
 * Checkboxes
 * ------------- */
/* line 231, ../scss/_jqtransform.scss */
span.jqTransformCheckboxWrapper {
  display: block;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}

/* line 236, ../scss/_jqtransform.scss */
a.jqTransformCheckbox {
  background: transparent url(../images/jqtransformplugin/checkbox.gif) no-repeat center top;
  vertical-align: middle;
  height: 19px;
  width: 21px;
  display: block;
  /*display: -moz-inline-block;*/
}

/* -------------
 * Checked - Used for both Radio and Checkbox
 * ------------- */
/* line 247, ../scss/_jqtransform.scss */
a.jqTransformChecked {
  background-position: center bottom;
}

/* -------------
 * Selects
 * ------------- */
/* line 253, ../scss/_jqtransform.scss */
.jqTransformSelectWrapper {
  /*width: 43%;*/
  position: relative;
  height: 34px;
  background: url(../images/jqtransformplugin/select_left.gif) no-repeat top left;
  float: left;
  margin-bottom: 8px;
  margin-right: 4px;
}

/* line 263, ../scss/_jqtransform.scss */
.jqTransformSelectWrapper div span {
  font-size: 12px;
  float: none;
  position: absolute;
  white-space: nowrap;
  height: 32px;
  line-height: 15px;
  padding: 8px 0 0 7px;
  /*overflow: hidden;*/
  cursor: pointer;
  /*border: 1px solid #CCCCCC;*/
  /*	border-right: none;*/
}

/* line 279, ../scss/_jqtransform.scss */
.jqTransformSelectWrapper a.jqTransformSelectOpen {
  display: block;
  position: absolute;
  right: 0px;
  width: 30px;
  height: 34px;
  background: url(../images/jqtransformplugin/select_right.gif) no-repeat center center;
}

/* line 288, ../scss/_jqtransform.scss */
.jqTransformSelectWrapper ul {
  position: absolute;
  width: 100% !important;
  top: 30px;
  left: 0px;
  list-style: none;
  background-color: #FFF;
  border: solid 1px #CCC;
  display: none;
  margin: 0px;
  padding: 0px;
  height: 200px;
  overflow: auto;
  overflow-y: auto !important;
  z-index: 10;
}

/* line 305, ../scss/_jqtransform.scss */
.jqTransformSelectWrapper ul a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #333;
  background-color: #FFF;
  font-size: 12px;
}

/* line 314, ../scss/_jqtransform.scss */
.jqTransformSelectWrapper ul a.selected {
  background: #EDEDED;
  color: #333;
}

/* line 319, ../scss/_jqtransform.scss */
.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {
  background: #3582c4;
  color: #fff;
}

/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
/* line 327, ../scss/_jqtransform.scss */
.jqTransformHidden {
  display: none;
}

/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/
/* line 17, ../scss/_bxslider.scss */
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
}

/* line 24, ../scss/_bxslider.scss */
.bx-wrapper img {
  max-width: 100%;
  display: block;
}

/** THEME
===================================*/
/* line 32, ../scss/_bxslider.scss */
.bx-wrapper .bx-viewport {
  /*-moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border:  5px solid #fff;
  left: -5px;*/
  /*background: #fff;*/
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}

/* line 48, ../scss/_bxslider.scss */
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: 17px;
  width: 100%;
  left: 10px;
}

/* LOADER */
/* line 58, ../scss/_bxslider.scss */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../images/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* PAGER */
/* line 71, ../scss/_bxslider.scss */
.bx-wrapper .bx-pager {
  text-align: left;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

/* line 80, ../scss/_bxslider.scss */
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  text-align: center;
}

/* line 88, ../scss/_bxslider.scss */
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #ffffff;
  /*text-indent: -9999px;*/
  display: block;
  width: 14px;
  height: 14px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 11px;
  color: #000000;
  padding-top: 2px;
  /*border-radius: 5px;*/
}

/* line 104, ../scss/_bxslider.scss */
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #b80000;
  color: #ffffff;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
/* line 112, ../scss/_bxslider.scss */
.bx-wrapper .bx-prev {
  left: 0;
  background: url(../images/btn_prev.png) no-repeat top;
}

/* line 117, ../scss/_bxslider.scss */
.bx-wrapper .bx-next {
  right: 0;
  background: url(../images/btn_next.png) no-repeat top;
}

/* line 122, ../scss/_bxslider.scss */
.bx-wrapper .bx-prev:hover {
  background-position: bottom;
}

/* line 126, ../scss/_bxslider.scss */
.bx-wrapper .bx-next:hover {
  background-position: bottom;
}

/* line 130, ../scss/_bxslider.scss */
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  outline: 0;
  width: 51px;
  height: 51px;
  text-indent: -9999px;
  z-index: 9999;
}

/* line 141, ../scss/_bxslider.scss */
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* AUTO CONTROLS (START / STOP) */
/* line 147, ../scss/_bxslider.scss */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}

/* line 151, ../scss/_bxslider.scss */
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(../images/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}

/* line 161, ../scss/_bxslider.scss */
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}

/* line 166, ../scss/_bxslider.scss */
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(../images/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}

/* line 176, ../scss/_bxslider.scss */
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
/* line 183, ../scss/_bxslider.scss */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

/* line 188, ../scss/_bxslider.scss */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

/* IMAGE CAPTIONS */
/* line 195, ../scss/_bxslider.scss */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666 \9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}

/* line 204, ../scss/_bxslider.scss */
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

@media (max-width: 600px) {
  /* line 216, ../scss/_bxslider.scss */
  .bx-wrapper .bx-controls-direction a {
    width: 42px;
    height: 42px;
    margin-top: -15px;
  }
  /* line 223, ../scss/_bxslider.scss */
  .bx-wrapper .bx-next {
    background-image: url("../images/btn_next_responsive.png");
    right: 5px;
  }
  /* line 227, ../scss/_bxslider.scss */
  .bx-wrapper .bx-prev {
    background-image: url("../images/btn_prev_responsive.png");
    left: 5px;
  }
}
