@import "compass";
@import "compass/css3/images";
@import "compass/css3/transition";

$color-verde:#30b740;
$color-celeste:#1fb9ef;
 
@mixin scale($scale) {
	-ms-transform: scale($scale); /* IE 9 */
	-webkit-transform: scale($scale); /* Chrome, Safari, Opera */
	transform: scale($scale);
} 


html, body{
	width: 100%;
	height: 100%;
}

body{
	width: 100%;
	margin:0;
	padding:0;
	font-family: 'Comfortaa', cursive;
	font-size: 15px;
	min-height: 100%;
	font-weight: 300;
}

body.nonescroll{
	height: 100%;
	overflow: hidden;
}

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
	*behavior: url(./js/htc/boxsizing.htc);
}

ul{

	list-style: none;
	margin: 0;
	padding: 0;
}

img{
	width: 100%;
	max-width:100%;
	height:auto;
	border:none;
	display: block;
}

h1{
	font-family: 'Comfortaa', cursive;
}

h1,h2,h3, p{ 
	margin: 0; 
	padding: 0;
	font-size: inherit;
	line-height:inherit;
	font-weight: inherit;	
}

.clear{
	clear: both;
}


header, aside, nav, section, article{
	display: block;
	position: relative;
}

a.full{
    width: 100%;
    height: 100%;
    background: url(../images/bg-a.png);
    position: absolute;
    top: 0;
    left: 0;
    z-index:1000;
}

a{
	text-decoration: none;
}

span.bolder{
	font-weight: bold;
}

#loader{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 999999;
} 

* {
	/*@include transition(all 0.1s ease-out);*/
	@include transition(all .3s linear 0s);
}


@media screen and (max-width: 1000px){
	
}

@media (max-width: 720px){
	
}

@media screen and (max-width: 410px){
	
}


@import "home";
@import "jqtransform";
@import "bxslider";



