.wrapper{
	width: 100%;	
	position: relative;
	max-width: 1600px;
	margin: 0 auto;
	overflow: hidden;

	header{
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
		
		.logo{
			width: 126px;
			float: left;
			margin-top: 38px;
		}
		.logo_grupo_lar{
			width: 103px;
			float: right;
			margin-top: 62px;
		}

	}

	section.seccion-1{
		width: 100%;		
		position: relative;
		background-image: url(../images/fondo_home.jpg);
		background-position: center;

		.container{
			height: 800px;	

			.caja{
				width: 450px;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				color: #fff;
				font-size: 36px;
				font-weight: 400;
				letter-spacing: -1px;

				.tall{
					font-size: 84px;
					margin-bottom: 40px;
					display: block;
					font-weight: 700;
				}

				.short{
					font-size: 24px;
					display: block;
				}
				.btn-deja-tus-datos{
					width: 208px;
				}
			}

			.burbujas_box{
				width: 100%;
				position: absolute;
				bottom:60px;
				left: 0;

				img.dormitorio_1{
					float: left;
					width: auto;
				}
				img.dormitorio_2{
					margin: 0 auto;
					width: auto;
				}
				img.dormitorio_3{
					float: right;
					width: auto;
				}
			}
		}
	}

	section.seccion-beneficios{
		width: 100%;		
		position: relative;
		background-image: url(../images/seccion-beneficios.png);
		background-position: center top;
		background-repeat: no-repeat;
		margin-top: -90px;

		.foto{
			width: 986px;
			position: absolute;
			top: 90px;
			right: 0;
		}

		.aros{
			width: 566px;
			position: absolute;
			bottom: 0;
			right: 0;
		}

		.container{
			height: 950px;

			.box{
				width: 100%;
				max-width: 213px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				color: $color-verde;

				.titulo{
					font-size: 30px;
					line-height: 18px;
					margin-bottom: 20px;
					margin-bottom: 20px;
					line-height: 35px;
					font-weight: 700;
				}

				.parrafo{
					font-size: 18px;
					margin-bottom: 25px;
					.precio{
						font-size: 34px;
						font-weight: 700;
						display: block;
					}
				}

				.btn-deja-tus-datos{
					width: 208px;
				}
			}
		}
	}

	section.seccion-2{
		width: 100%;
		position: relative;
		background-color: $color-verde;
		color: #ffffff;

		.curva{
			width: 100%;
			position: absolute;
			top: -60px;
			left: 0;
		}

		.container{
			padding-top: 90px;
			padding-bottom: 120px;
			.titulo{
				width: 100%;
				text-align: center;
				font-size: 43px;				
				margin-bottom: 5px;
				letter-spacing: -1px;

				span{
					font-size: 69px;
					display: inline-block;
					font-weight: 700;
				}
			}

			.subtitulo{
				font-size: 24px;
				margin-bottom: 30px;
				text-align: center;
				letter-spacing: -1px;
			}

			ul.lista_servicios{
				width: 100%;
				font-size: 0;

				li{
					width: 50%;
					display: inline-block;
					overflow: hidden;
					position: relative;

					.velo{
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						z-index: 2;
						background-color: rgba(0, 0, 0, 0.4);
						opacity: 0;
					}

					.cont{
						position: absolute;
						top: 47px;
						left: 40px;
						text-align: center;
						z-index: 4;

						.ico{
							width: 100%;
							max-width: 43px;
							margin: 0 auto 8px;
							transform: translateY(-250px);
						}

						.tit{
							width: 100%;
							font-size: 22px;
							margin-bottom: 10px;
							font-weight: bold;							
						}

						.txt{
							width: 100%;
							font-size: 11px;
						}

						.tit, .txt{
							transform: translateX(-250px);
						}
					}

					&:hover{

						.velo{
							opacity: 1;
						}

						> img{
							transform: scale(1.1);
						}

						.ico{
							transform: translateY(0);
						}
						.tit, .txt{
							transform: translateX(0);
						}
					}
				}
			}
		}
	}
	section.seccion-3{
		width: 100%;
		height: 800px;
		position: relative;
		background-color: $color-celeste;
		font-size: 0;

		.leftside{
			width: 50%;
			height: 800px;
			display: inline-block;

			.content{
				width: 100%;
				max-width: 500px;
				float: right;
				padding-right: 20px;
				padding-top: 90px;

				.titulo{
					font-size: 59px;
					color: #ffffff;
					font-weight: bold;
					margin-bottom: 40px;
					letter-spacing: -1.5px;
				}

				table{
					width: 100%;
					margin-bottom: 30px;
					tr{
						td{
							color: #ffffff;
							font-size: 20px;
							padding-bottom: 14px;
						}

						td:nth-child(1){
							width: 40px;
							vertical-align: top;

							img{
								width: auto;
								vertical-align: top;
								margin-top: 2px;
							}
						}
					}
				}

				.btn{
					width: 100%;
					max-width:398px;
					border:1px solid #ffffff;
					padding-top: 10px;
					padding-bottom: 16px;
					text-align: center;
					text-transform: uppercase;
					color: #ffffff;
					font-size: 24px;

					.ico{
						width: 60px;
						height: 38px;
						display: inline-block;
						margin-right: 12px;
					} 

					&:hover{
						background-color: rgba(255, 255, 255, 0.3);
					}
				}
			}
		}
		.mapa{
			width: 50%;
			height: 800px;
			display: inline-block;
			background:#e9e9e9;
			vertical-align: top;
			position: relative;

			.mapa_tiendas{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background-image: url(../images/mapa_tiendas.jpg);
				background-repeat: no-repeat;
				background-position: center top;				
				@include background-size(cover);
				behavior: url(/js/htc/backgroundsize.htc)\9;
				z-index: 999999;
				display: none;
			}

			#ubication_map{
				width: 100%;
				height: 100%;
			}
		}
	}
	section.seccion-4{
		width: 100%;		
		position: relative;
		background-color: #fff;
		font-size: 0;

		.fondo_left{
			width: 50%;
			height: 823px;
			display: inline-block;
			background-image: url(../images/fondo_parrilla.jpg);
			@include background-size(cover);
			behavior: url(/js/htc/backgroundsize.htc)\9;
			vertical-align: top;
			background-position: center bottom
		}
		.rightside{
			width: 50%;
			height: 823px;
			display: inline-block;
			background:#fff;
			vertical-align: top;

			.content{
				width: 100%;
				max-width: 500px;
				padding-left: 58px;
				padding-top: 63px;

				.titulo{
					font-size: 40px;
					color: $color-verde;
					font-weight: bold;
					margin-bottom: 40px;
					letter-spacing: -1.5px;
					margin-bottom: 30px;

					span{
						font-size: 49px;
					}
				}

				.texto{
					font-size: 18px;
					color: #000000;
					margin-bottom: 40px;
				}

				.formulario{
					width: 100%;
					
					.campo{
						margin-bottom: 7px; 
						font-size: 0;
						position: relative;

						.txt{
							width: 22%;
							font-size: 16px;
							color:#000;
							display: inline-block;
							padding-top: 10px;
						}

						input{
							width: 78%;
							background-color: #fff;
							height: 41px;
							border:1px solid #d1d1d1;
							border-radius:5px;
							display: inline-block; 
							padding: 7px;
							font-size: 15px;
						}

						.nube{
							width: 193px;
							font-size: 10px;
							color: #ffffff;
							padding: 15px 60px 15px 15px;
							background-color: #1fb9ef;
							border-radius:5px;
							position: absolute;
							top: 50%;
							left: 100%;
							transform: translate(12px, -50%);
							z-index: 5;

							.esquina{																
								width: 0;
								height: 0;
								border-style: solid;
								border-width: 10px 10px 10px 0;
								border-color: transparent #1fb8ef transparent transparent;
								position: absolute;
								top: 50%;
								transform: translateY(-50%);
								right: 100%;
							}

							.ico{
								width: 43px;
								position: absolute;
								top: 18px;
								right: 14px;
							}


						}
					}

					.campo.campo2{
						padding-top: 25px;
						margin-bottom: 20px;

						.txt{
							width: 50%;
							padding-right: 10px;
							vertical-align: top;
							padding-top: 0;
						}

						.campo_select{
							display: inline-block;
							width: 50%;
							vertical-align: top;

							select{
								width: 100%;
							}

							.jqTransformSelectWrapper{
								width: 100% !important;
								height: 41px;
								font-family: 'Comfortaa', cursive !important;
								color: #727375;
								margin-bottom: 12px;

								span{
									height: 41px;
									padding-top: 13px;
									color: #727375;
									padding-left: 8px;
									left: 0;
									text-align: left;
								}

								a.jqTransformSelectOpen{
									height: 41px;
									width: 32px;
								}
								ul{
									top: 41px;
									height: 117px;
									z-index: 111111;

									a{
										padding: 6px 8px;
										color: #727375;
										text-align: left;

										&:hover{
											background-color: $color-verde;
											color: #ffffff;
										}
									}
								}
							}
						}
					}

					.campo_check{
						margin-bottom: 40px;

						span.jqTransformCheckboxWrapper{
							margin-top: 0;
						}
						* {
							@include transition(none);
						}

						a.acepto, span{
							display: inline-block;
							color: #b3cf44;
							font-size: 16px;
							padding-top: 5px;
							text-decoration: underline;
						}
					}

					.btn_enviar{
						width: 96%;
						max-width: 204px;
						margin: 0 auto;
						background-color: #b3cf44;
						color: #ffffff;
						text-align: center;
						text-transform: uppercase;
						padding-top: 11px;
						padding-bottom: 10px;
						font-size: 18px;
						border-radius: 5px;
						cursor: pointer;
						border:0;

						&:hover{
							background-color: #8ba523;
						}
					}
				}
			}
		}
	}
	section.seccion-5{
		width: 100%;
		height: 800px;
		position: relative;
		background-color: $color-verde;
		background-image: url(../images/fondo_final.jpg);


		.gota{
			width: 80%;
			max-width: 502px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		
	}

	footer{
		width: 100%;
		height: 174px;
		position: relative;
		background-color: #383838;

		.container{
			.logo_grupo_lar{ 
				width: 126px;
				float: left;
				margin: 35px 20px 0 0;
			}
			.detalle{
				width: 390px;
				color: #ffffff;
				font-size: 16px;
				float: left;
				margin: 35px 20px 0 0;

			}
			.logo_asei{
				width: 95px;
				float: left;
				margin: 47px 0 0 0;
			}

			.telefono{
				width: 263px;
				float: right;
				margin: 65px 0 0 0;
			}

			.clear{
				display: none;
			}
		}
	}
}

img.imagen_layer_home{
	width: 436px;
	height: auto;
	cursor: pointer;
}

.fancybox-wrap .fancybox-close{
	/*right: -31px;*/
	right: -13px;
	top: -29px;
	background-image: url(../js/source/home_close.png);
}

.container{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
}


.wrapper_gracias{
	display: block !important;
	position: relative;
	width: 100%;
	height: 100%;
	.gracias{
		width: 100%;
		max-width: 344px;
		color: #000000;
		font-size: 16px;
		text-align: center;
		padding-top: 50px;
		margin: 0 auto 40px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		.btn_gracias{

			> img{
				width: 162px;
				margin: 0 auto 10px;
			}

			.texto{
				margin-bottom: 20px;
				font-weight: 500;
				line-height: 19px;
			}

			.regresar{
				width: 120px;
				margin: 0 auto 0;
				color: #808080;
				text-transform: uppercase;
				font-size: 11px;
				position: relative;
				.ico{
					width: 19px;
					height: 8px;
					display: inline-block;
					margin-right: 10px;
				}
			}
		}
	}
}

@media (max-width: 1420px) {
	.wrapper {
		section.seccion-beneficios {
			.foto{
				width: 800px;
				top: 50%;
				transform:translateY(-50%);
			}
		}
	}
}


@media (max-width: 1280px) {
	.wrapper section.seccion-4 .rightside .content .formulario .campo .nube{
		right: -50px;
		left: auto;
		transform: translate(0, -50%);
	}

	.wrapper section.seccion-4 .fondo_left, .wrapper section.seccion-4 .rightside {
		height: 750px;
	}
}

@media (max-width: 1100px) {
	.wrapper {
		section.seccion-4 .rightside .content .formulario .campo .nube{
			right: -20px;
			left: auto;
			transform: translate(0, -50%);
		}

		section.seccion-beneficios {
			.foto{
				width: 700px;
			}
		}
	}
}

@media (max-width: 1000px) {
	.wrapper {

		.content{
			padding-top: 40px !important;
			padding-left: 20px !important;
			padding-right: 20px !important;
			max-width: 100% !important;
			padding-bottom: 30px;
		}

		section.seccion-1 {
			.container {
				.burbujas_box {
					padding-left: 20px;
					padding-right: 20px;
					img.dormitorio_1{
						width: 150px;
					}
					img.dormitorio_2{
						width: 150px;
					}
					img.dormitorio_3{
						width: 150px;
					}
				}
			}
		}

		section.seccion-beneficios {
			.foto{
				width: 560px;
			}

			.aros{
				display: none;
			}
		}



		section.seccion-2 {
			.container {
				padding-bottom: 20px;
				ul.lista_servicios {
					li{
						width: 100%;
						max-width: 500px;
						margin: 0 auto;
						display: block;
					}
				}
			}
		}

		section.seccion-3 {
			height: auto;
			.leftside{
				height: auto;
				width: 100%;
				position: relative;

				.content{
					.titulo{
						font-size: 30px;
					}
					.btn{
						margin: 0 auto;
						display: block;
						font-size: 18px;
						padding-top: 14px;
						padding-bottom: 25px;

						.ico{
							height: 33px;
						}
					}
				}
			}
			.mapa{
				width: 100%;
				height: 400px;
				position: relative;
			}
		}

		section.seccion-4 {
			.fondo_left{
				display: none;
			}

			.rightside{
				width: 100%;
				height: auto;


			}
		}

		footer {
			height: auto;
			.container {
				padding-top: 20px;
				padding-bottom: 20px;
				.detalle{
					float: right;
				}
				.clear{
					display: block;
				}
			}
		}
	}
}


@media (max-width: 768px){
	.wrapper {
		header {
			.logo{
				width: 90px;
				margin-top: 20px;
			}

			.logo_grupo_lar{
				margin-top: 20px;
			}
		}

		section.seccion-1 {
			background: url(../images/home_tablet.jpg) center;
			@include background-size(cover);
			behavior: url(/js/htc/backgroundsize.htc)\9;

			.container {
				height: 700px;
				padding-left: 20px;
				padding-right: 20px;

				*{
					text-shadow: 0px 0px 21px rgba(0, 0, 0, 1);
				}
				.caja{

					width: 96%;
					max-width: 400px;
					font-size: 23px;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					text-align: center;

					.tall{
						font-size: 49px; 
					}

					.btn-deja-tus-datos{
						margin: 0 auto;
						width: 150px;
					}

				}
			}
		}

		section.seccion-beneficios {
			.foto{
				display: none;
			}

			.container{
				height: auto;
				padding-top: 140px;
				padding-bottom: 90px;
				.box{
					top: auto;
					transform: translateY(0);
					width: 100%;
					position: relative;
					text-align: center;
					max-width: 100%;

					.btn-deja-tus-datos{
						margin: 0 auto;
						display: block;

					}
				}
			}
		}


	}
}


@media (max-width: 600px){
	.wrapper footer .container {
		.logo_grupo_lar{
			float: none;
			margin: 0 auto 20px;
		}
		.detalle{
			float: none;
			width: 100%;
			text-align: center;
			margin-bottom: 30px;
		}

		.logo_asei{
			float: none;
			margin: 0 auto 20px;
		}
		.telefono{
			float: none;
			margin: 0 auto 20px;
		}
	}
}

@media (max-width: 500px){
	.wrapper {

		section.seccion-1 {
			.container {
				.burbujas_box {
					padding-left: 20px;
					padding-right: 20px;
					img.dormitorio_1{
						float: none;
						margin: 0 auto;
					}
					img.dormitorio_2{
						width: 150px;
						float: left;
					}
					img.dormitorio_3{
						width: 150px;
					}
				}
			}
		}

		section.seccion-2 {
			.container {
				padding-top: 20px;
				.titulo {
					font-size: 25px;
					span{
						font-size: 25px;
					}
				}
			}
		}

		section.seccion-3 .leftside .content {
			.titulo{
				font-size: 25px;
			}
			table tr td{
				font-size: 14px;
			}
		}

		section.seccion-4 {
			.rightside {

				.content {
					.titulo {
						font-size: 25px; 
						span{
							font-size: 25px;
						}
					}
					.formulario {
						.campo {
							.txt{
								width: 100%;
								padding-bottom: 7px;
							}
							input{
								width: 100%;
							}

							.nube{
								width: 100%;
								position: relative;
								top: auto;
								left: auto;
								right: auto;
								transform: translate(0, 0);
								margin-top: 10px;

								.ico{
									width: 20px;
									top: 50%;
									right: 10px;
									transform: translateY(-50%);
								}

								.esquina{
									width: 0;
									height: 0;
									border-style: solid;
									border-width: 0 10px 10px 10px;
									border-color: transparent transparent #1fb8ef transparent;
									left: 20px;
									top: -5px;
								}
							}




						}
						.campo.campo2{
							padding-top: 15px;
							.txt{
								width: 100%;

								br{
									display: none;
								}
							}

							.campo_select{
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 436px){
	img.imagen_layer_home{
		width: 100%;
		max-width: 436px;
		height: auto;
	}
}

@media (max-width: 420px) {
	.wrapper{

		header {
			.logo{
				width: 58px;
			}

			.logo_grupo_lar{
				width: 80px;
			}
		}
		section.seccion-1 {
			background: url(../images/home_mobile.jpg) center bottom;
			@include background-size(cover);
			behavior: url(/js/htc/backgroundsize.htc)\9;

			.container{
				height: auto;
				padding-top: 120px;

				.caja {
					font-size: 20px;
					padding-left: 20px;
					padding-right: 20px;
					left: auto;
					top: auto;
					transform: translate(0, 0);
					position: relative;
					margin-bottom: 20px;
					.tall{
						font-size: 32px;
					}

					.short{
						font-size: 18px;
					}
				}

				.burbujas_box{
					position: relative;
					bottom: auto;
					margin-bottom: 40px;

					img.dormitorio_1{
						width: 110px;
					}
					img.dormitorio_2{
						width: 110px;
					}
					img.dormitorio_3{
						width: 110px;
					}
				}
			}
		}
		section.seccion-2 {
			.curva{
				top: auto;
				bottom: 100%;
			}
			.container {
				ul.lista_servicios {
					li{
						.cont{
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%);
							.velo{
								opacity: 0.5;
							}



							.ico{
								transform: translateY(0);
							}
							.tit, .txt{
								transform: translateX(0);
							}
						}
					}
				}
			}
		}

		footer {
			height: auto;
			.container {
				padding-bottom: 20px;
				.logo_grupo_lar{
					width: 80px;
					margin-top: 20px;
				}

				.logo_asei{
					width: 60px;
					margin-top: 20px;
				}

				.telefono{
					width: 120px;
				}

			}
		}
	}
}

